{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 id="the-stock-portal-h1">The Stock Portal</h1>
<h1 id="login-h1">Login</h1>
<p id="first-time">First time? <a href="/signup">Sign up</a>.</p> 
<form method="POST">

  {{form.hidden_tag()}}

  {% for field in form.errors %}
    <div class="alert alert-danger">{{ field }}:
      <ul>
        {% for error in form.errors[field] %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  {% for field in form if field.widget.input_type != 'hidden' %}

  <div class="form-group row login-form">
    {{field.label(class="col-sm-2 col-form-label")}}
    <div class="col-sm-4">
      {{field(class="form-control")}}
      <br>
    </div>
  </div>

  {% endfor %}
  <div id="login-btn-div">
    <button class="btn btn-primary" id="login-btn">Login!</button>
  </div>
</form>

{% endblock %}