{% extends 'base.html' %}
{%block title%}The Stock Portal{%endblock%}

{%block content%}
<h1 id="homepage-h1">Welcome to the Stock Portal</h1>
<br>
<div id="search-form">
<form action="/stock-search">
    <input name="q" placeholder="Search for a Stock by Ticker" id="stock-search">
    <button id="search-btn" class="btn btn-md btn-primary">Search</button>
  </form>
   <br>
  <p>For a list of tickers click <a href="/tickers-list">here.</a></p>
</div>


<div id="tracked-stocks-div">
  <h3 id="tracked-stocks-h3">Your Tracked Stocks</h3>
  <ul id="tracked-stocks-list">
      {% for tracked_stock in g.user.tracked_stocks%}
        <li class="tracked-stock">
          <a href="/stock-info/{{tracked_stock.stock_symbol}}">{{tracked_stock.stock_symbol}}</a>
        </li>
      {%endfor%}
  </ul>
</div>
{%endblock%}