{%extends 'base.html'%}
{%block title%}Tickers List{%endblock%}

{%block content%}
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search a stock by company name...">
<div id="ticker-table">
<table>
    <thead class="table-head">
        <tr class="table-head-row">
            <th>Company Name</th>
            <th>Ticker</th>
            <th>Exchange</th>
            
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{stock.name}}</td>
            <td>{{stock.symbol}}</td>
            <td>{{stock.exchange}}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>
</div>
{%endblock%}